.function dt .api-docs-inner,
.class dt .api-docs-inner {
  display: table;
  margin: 6px 0;
  font-size: 90%;
  line-height: normal;
  background: #e7f2fa;
  color: #2980b9;
  border-top: solid 3px #6ab0de;
  padding: 6px;
  position: relative;
}

.function dl dt .api-docs-inner,
.class dl dt .api-docs-inner {
  margin-bottom: 6px;
  border: none;
  border-left: solid 3px #ccc;
  background: #f0f0f0;
  color: #555;
}

.function dt code,
.class dt code,
.function dl dt code,
.class dl dt code {
  background-color: transparent;
  font-weight: bold;
}

.md-footer-meta__inner {
  padding-bottom: 50px;
}

.function dt[id]:before,
.class dt[id]:before {
  display: block;
  margin-top: -8px;
  height: 8px;
  padding-top: 8px;
  content: "";
}

.function dt[id]:target:before,
.class dt[id]:target:before {
  margin-top: -3.4rem;
  padding-top: 3.4rem;
  height: 3.4rem;
}

.function .headerlink,
.class .headerlink {
  color: rgba(0, 0, 0, 0.87);
  opacity: 1;
  transform: none;
}

.highlight {
  color: #586e75;
}
.highlight .hll {
  font-weight: 700;
}
.highlight .c {
  color: #93a1a1;
}
.highlight .err {
  color: #586e75;
}
.highlight .g {
  color: #586e75;
}
.highlight .k {
  color: #859900;
}
.highlight .l {
  color: #586e75;
}
.highlight .n {
  color: #586e75;
}
.highlight .o {
  color: #859900;
}
.highlight .x {
  color: #cb4b16;
}
.highlight .p {
  color: #586e75;
}
.highlight .cm {
  color: #93a1a1;
}
.highlight .cp {
  color: #859900;
}
.highlight .c1 {
  color: #93a1a1;
}
.highlight .cs {
  color: #859900;
}
.highlight .gd {
  color: #2aa198;
}
.highlight .ge {
  color: #586e75;
  font-style: italic;
}
.highlight .gr {
  color: #dc322f;
}
.highlight .gh {
  color: #cb4b16;
}
.highlight .gi {
  color: #859900;
}
.highlight .go {
  color: #586e75;
}
.highlight .gp {
  color: #586e75;
}
.highlight .gs {
  color: #586e75;
  font-weight: 700;
}
.highlight .gu {
  color: #cb4b16;
}
.highlight .gt {
  color: #586e75;
}
.highlight .kc {
  color: #cb4b16;
}
.highlight .kd {
  color: #268bd2;
}
.highlight .kn {
  color: #859900;
}
.highlight .kp {
  color: #859900;
}
.highlight .kr {
  color: #268bd2;
}
.highlight .kt {
  color: #dc322f;
}
.highlight .ld {
  color: #586e75;
}
.highlight .m {
  color: #2aa198;
}
.highlight .s {
  color: #2aa198;
}
.highlight .na {
  color: #586e75;
}
.highlight .nb {
  color: #b58900;
}
.highlight .nc {
  color: #268bd2;
}
.highlight .no {
  color: #cb4b16;
}
.highlight .nd {
  color: #268bd2;
}
.highlight .ni {
  color: #cb4b16;
}
.highlight .ne {
  color: #cb4b16;
}
.highlight .nf {
  color: #268bd2;
}
.highlight .nl {
  color: #586e75;
}
.highlight .nn {
  color: #586e75;
}
.highlight .nx {
  color: #586e75;
}
.highlight .py {
  color: #586e75;
}
.highlight .nt {
  color: #268bd2;
}
.highlight .nv {
  color: #268bd2;
}
.highlight .ow {
  color: #859900;
}
.highlight .w {
  color: #586e75;
}
.highlight .mf {
  color: #2aa198;
}
.highlight .mh {
  color: #2aa198;
}
.highlight .mi {
  color: #2aa198;
}
.highlight .mo {
  color: #2aa198;
}
.highlight .sb {
  color: #93a1a1;
}
.highlight .sc {
  color: #2aa198;
}
.highlight .sd {
  color: #586e75;
}
.highlight .s2 {
  color: #2aa198;
}
.highlight .se {
  color: #cb4b16;
}
.highlight .sh {
  color: #586e75;
}
.highlight .si {
  color: #2aa198;
}
.highlight .sx {
  color: #2aa198;
}
.highlight .sr {
  color: #dc322f;
}
.highlight .s1 {
  color: #2aa198;
}
.highlight .ss {
  color: #2aa198;
}
.highlight .bp {
  color: #268bd2;
}
.highlight .vc {
  color: #268bd2;
}
.highlight .vg {
  color: #268bd2;
}
.highlight .vi {
  color: #268bd2;
}
.highlight .il {
  color: #2aa198;
}
