.function dt .api-docs-inner,
.class dt .api-docs-inner {
  display: table;
  margin: 6px 0;
  font-size: 90%;
  line-height: normal;
  background: #e7f2fa;
  color: #2980b9;
  border-top: solid 3px #6ab0de;
  padding: 6px;
  position: relative;
}

.function dl dt .api-docs-inner,
.class dl dt .api-docs-inner {
  margin-bottom: 6px;
  border: none;
  border-left: solid 3px #ccc;
  background: #f0f0f0;
  color: #555;
}

.function dt code,
.class dt code,
.function dl dt code,
.class dl dt code {
  background-color: transparent;
  font-weight: bold;
}

.md-footer-meta__inner {
  padding-bottom: 50px;
}

.function dt[id]:before,
.class dt[id]:before {
  display: block;
  margin-top: -8px;
  height: 8px;
  padding-top: 8px;
  content: "";
}

.function dt[id]:target:before,
.class dt[id]:target:before {
  margin-top: -3.4rem;
  padding-top: 3.4rem;
  height: 3.4rem;
}

.function .headerlink,
.class .headerlink {
  color: rgba(0, 0, 0, 0.87);
  opacity: 1;
  transform: none;
}
